html, body {
  background-color: #121212;
  color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}
